@import "tailwindcss";
@plugin "daisyui";

/* Personalización de colores institucionales */
@theme {
  --color-primary: #004a99;      /* Azul Unilibre */
  --color-secondary: #d9232e;    /* Rojo Unilibre */

  /* Ajustes de diseño */
  --radius-box: 1.5rem;
  --radius-btn: 0.8rem;
}

/* Forzar el desenfoque en todos los modales nativos */
dialog::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}